body {
    background-color: #489443;
}

h4 {
    color: red;
    font-family: Futura, sans-serif; 
}

p {
    color: red;
    font-family: Questa, sans-serif; 
    height: 30px;
    
}

.middle {
    background-color: green;
}