div {
    margin: 30px auto;
    padding: 30px;
    width: 250px;
    text-align: center;
    border-top: solid #909090;
    border-width: 2px;
    display: block;
    height: 45px;
    overflow: hidden;
    transition: 1s ease-in;
}

div:hover {
    height: 400px;
    width: 500px;
}

p {
    font-size: 8px;
    text-align: center;
    font-family: Arca Majora, sans-serif;
    color: #803030;
    margin-top: 5px;
    margin-bottom: 0;
}

.prints {
    display: block;
    width: 400px;
    margin: 40px auto;
}

