div {
    margin: 30px auto;
    padding: 30px;
    width: 500px;
    text-align: center;
    border-style: solid;
    border-color: #909090;
    border-width: 2px;
}

.link {
    margin: 10px auto;
    text-align: center;
    display: block;
    width: 70px;
}

p {
    font-size: 8px;
    text-align: center;
    font-family: Arca Majora, sans-serif;
    color: #803030;
    margin-top: 5px;
    margin-bottom: 0;
}

.prints {
    display: none;
    text-align: center;
}

.link:hover + .prints{
    display: block;
    margin: 20px auto 40px auto;
    width: 500px;
    height: auto;
}

