body {
    background-color: #a4acb1;
    font-family: Sinkin Sans, sans-serif;
    margin: 0;
}

@keyframes signal {
    0% {
        background-image: url("Signals-cross.png");
        animation-timing-function: step-end;
    }
    40% {
        background-image: url("Signals-5.png");
        animation-timing-function: step-end;
    }
    42% {
        background-image: url("Signals-4.png");
        animation-timing-function: step-end;
    }
    44% {
        background-image: url("Signals-3.png");
        animation-timing-function: step-end;
    }
    46% {
        background-image: url("Signals-2.png");
        animation-timing-function: step-end;
    }
    48% {
        background-image: url("Signals-1.png");
        animation-timing-function: step-end;
    }
    50% {
        background-image: url("Signals-stop.png");
        animation-timing-function: step-end;
    }
    100% {
        background-image: url("Signals-cross.png");
        animation-timing-function: step-end;
    }
}
    

.signal {
    width: 60px;
    height: 60px;
    position: fixed;
    left: 70px;
    top: 20px;
    animation: signal 10s infinite;
    transition-duration: 0;
}

.city,
.people,
.road {
    text-align: center;
    color: #66AA66;
    opacity: 0.5;
    font-size: 12pt;
    background-color: #ffffff;
    padding: 24px 0;
    margin: 100px 0;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.road:hover {
    color: #247424;
    font-size: 12pt;
    opacity: 1;
    width: 1000px;
}

.city:hover {
    color: #247424;
    font-size: 12pt;
    opacity: 1;
    width: 1000px;
}

.people:hover {
    color: #247424;
    font-size: 12pt;
    opacity: 1;
    width: 1000px;
}

@keyframes timer {
    0% {
        height: 10px;
        width: 1000px;
        background-color: #66AA66;
    }
    49% {
        height: 10px;
        width: 1px;
        background-color: #66AA66;
    }
    50% {
        height: 10px;
        width: 1000px;
        background-color: #D47F7F;
    }
    99% {
        height: 10px;
        width: 1px;
        background-color: #D47F7F;
    }
    100% {
        height: 10px;
        width: 1000px;
        background-color: #66AA66;
    }
}

.timer {
    position: fixed;
    top: 45;
    left: 175;
    animation: timer 10s linear infinite;
}

.sidewalk1 {
    background-color: #dadad9;
    font-family: Museo Slab, serif;
    font-size: 24pt;
    color: #868686;
    padding: 150px 0;
    text-align: center;
    white-space: nowrap;
}

.sidewalk2 {
    background-color: #dadad9;
    font-family: Museo Slab, serif;
    font-size: 24pt;
    color: #868686;
    padding: 100px 0;
    text-align: center;
    white-space: nowrap;
    transform: rotate(180deg);
    margin-bottom:0;
}





