body {
    background-color: #a4acb1;
    font-family: Sinkin Sans, sans-serif;
    margin: 0;
}

img {
    width: 1200px;
    margin: 30px auto;
    display: block;
}

.citywrapper {
    display: block;
    margin: auto;
    font-size: 0;
}

.peoplewrapper {
    display: block;
    margin: auto;
    font-size: 0;
    margin-top: 30px;
}

.cityphoto {
    width: 260px;
    height: auto;
    margin: 50px 0;
    display: inline-block;
}

.peoplephoto {
    width: 300px;
    height: auto;
    margin: 40px 20px;
    display: inline-block;
}

.down {
    transform: rotate(180deg);
}

@keyframes timer {
    0% {
        height: 10px;
        width: 1000px;
        background-color: #66AA66;
    }
    69% {
        height: 10px;
        width: 1px;
        background-color: #66AA66;
    }
    70% {
        height: 10px;
        width: 1000px;
        background-color: #D47F7F;
    }
    99% {
        height: 10px;
        width: 1px;
        background-color: #D47F7F;
    }
    100% {
        height: 10px;
        width: 1000px;
        background-color: #66AA66;
    }
}

.timer {
    position: fixed;
    top: 45;
    left: 175;
    animation: timer 90s linear infinite;
    z-index: 1;
}

@keyframes signal {
    0% {
        background-image: url("Signals-cross.png");
        animation-timing-function: step-end;
    }
    60% {
        background-image: url("Signals-5.png");
        animation-timing-function: step-end;
    }
    62% {
        background-image: url("Signals-4.png");
        animation-timing-function: step-end;
    }
    64% {
        background-image: url("Signals-3.png");
        animation-timing-function: step-end;
    }
    66% {
        background-image: url("Signals-2.png");
        animation-timing-function: step-end;
    }
    68% {
        background-image: url("Signals-1.png");
        animation-timing-function: step-end;
    }
    70% {
        background-image: url("Signals-stop.png");
        animation-timing-function: step-end;
    }
    100% {
        background-image: url("Signals-cross.png");
        animation-timing-function: step-end;
    }
}
    
.signal {
    width: 60px;
    height: 60px;
    position: fixed;
    left: 70px;
    top: 20px;
    animation: signal 90s infinite;
    transition-duration: 0;
}

.stripe {
    text-align: center;
    color: #66AA66;
    opacity: 0.5;
    font-size: 12pt;
    background-color: #ffffff;
    padding: 20px 0;
    margin: 100px 0;
    width: 700px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: 1s;
}

.stripe:hover {
    color: #247424;
    font-size: 12pt;
    opacity: 1;
}

.road:hover {
    margin:20px auto;
    display: block;
    top: 50px;
    height: 800px;
    width: 1200px;
}

.city:hover {
    margin:20px auto;
    display: block;
    top: 50px;
    height: 300px;
    width: 1200px;
}

.people:hover {
    margin: 20px auto;
    display: block;
    top: 50px;
    height: 650px;
    width: 800;
}

.sidewalk1 {
    background-color: #dadad9;
    font-family: Museo Slab, serif;
    font-size: 24pt;
    color: #868686;
    padding: 150px 0;
    text-align: center;
    white-space: nowrap;
}

.sidewalk2 {
    background-color: #dadad9;
    font-family: Museo Slab, serif;
    font-size: 24pt;
    color: #868686;
    padding: 150px 0;
    text-align: center;
    white-space: nowrap;
    transform: rotate(180deg);
    margin-bottom:0;
}

:link {
    color: #868686;
}

:visited {
    color: #868686;
}




