body {
    background-color: #3B9AA3;
    font-family: Bitter, bold, slab-serif;
    font-size: 20px;
    color: #347048; 
}
circle();

footer {
    text-align: left;
    font-family: Sinkin Sans, Helvetica, sans-serif;
    font-size: 10px;
    color: #ffffff;
}
