body {
    width: 592px;
    height: 592px;
    text-align: center;
    margin: 50px auto;
    font-size: 0;
}

.square {
    display: inline-block;
    height: 37px;
    width: 37px;
    background-color: white;
}

.plane {
    position: fixed;
    height: 75px;
    width: 75px;
    background-color: white;
    padding: 10px;
    z-index: 1;
}

.tile,
.tileplane {
    height: 100%;
    width: 100%;
}

.rect {
    height: 100%;
    width: 300px;
    position: absolute;
    background-color: white;
    z-index: 0;
    top:0;
    overflow: hidden;
}

.ipe {
    height: 100%;
    width: auto;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

