body {
    margin: auto;
    text-align: center;
    font-size: 0;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.line {
    margin: auto;
}

.square {
    box-sizing: border-box;
    position: relative;
    background-color: white;
    display: inline-block;
    width: 14.2857%;
    height: 20%;
    border: solid #DDD4E7 1px;
    overflow: visible;
}



.rectangle {
    position: fixed;
    opacity: 0.8;
    border: solid yellow 1px;
    background-color: white;
    width: 57.12%;
    height: 60%;
    z-index: 10;
    top: 10%;
    left: 21.42%;
}

.text {
    width: 75%;
    height: 75%;
    margin: 5%;
}

.icon {
    position: absolute;
    width: 5%;
    height: 5%;
    right: 3%;
    top: 5%;
    
}

.border {
    border: solid yellow 2px;
    border-left: 0;
}

.green {
    border: solid green 2px;
}

.blue {
    border: solid blue 2px;
}

.medium {
    width: 7.69%;
    height: 15%;
}

.little {
    width: 4%;
    height: 15%;
}

.link {
    width: 20%;
    height: 100%;
}

.line {
    width: 100%;
    display: inline-block;
}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 10%;
}
