body {
    margin: auto;
    text-align: center;
    font-size: 0;
    background-color: black;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: auto;
}

.line {
    margin: auto;
}

.square {
    position: relative;
    background-color: white;
    display: inline-block;
    width: 14%;
    height: 14%;
    margin: 0.1%;
}

.black {
    background-color: black;
}
