body {
    margin: 0;
    font-family: courier;
    color: black;
}

textarea {
    height: 48%;
    width: 96%;
    margin-left: 2%;
    font-family: helvetica;
    font-size: 10pt;
    border: none;
    outline: none;
}

textarea:focus { 
    outline: none; 
}

p {
    display: inline;
}

.read {
    height: 48%;
    width: 80%;
    font-size: 24pt;
    overflow: scroll;
    padding: 10px 0;
    margin: auto;
}

h1 {
    position: fixed;
    font-weight: normal;
}

.title {
    font-style: normal;
    bottom: 10px;
    left: 15px;
    margin: 0;
}

.clear {
    bottom: 10px;
    right: 15px;
    margin: 0;
    cursor: pointer;
}

.helvetica {
    font-family: helvetica;
}

.courier {
    font-family: courier;
}

.timesnewroman {
    font-family: times new roman;
}

.robotoslab {
    font-family: "Roboto Slab";
}

.merriweather {
    font-family: "Merriweather";
}

.abrilfatface {
    font-family: "Abril Fatface";
}

.rocksalt {
    font-family: "Rock Salt";
}